.footer {
  display: block;
  height: auto;
  font-size: 12px;
  background: inherit;
  padding: 2rem 0;
  bottom: 0 !important;
  width: 100%;
}

.footer a {
  color: black;
  text-decoration: none;
}

.credit {
  bottom: 0 !important;
  font-size: 12px;
  padding: 2rem 0;
  width: 100%;
  margin: 2rem 0 0 0;
  text-align: center;
}
.footer ul {
  list-style-type: none;
  display: block;
  text-align: left;
}
.footer li {
  padding: 0.5rem 0rem;
}
.footer-li {
  color: var(--secondary);
  transition: ease-in-out all 0.3s;
}
.footer a:hover,
.footer-li:hover,
.footer-li:hover {
  color: var(--primary) !important;
}
